configuration {
  modes: [ drun, run, combi, window ];
  combi-modes: [ drun, run, window ];
  combi-hide-mode-prefix: true;
}

inputbar {
    children: [ "entry", "prompt" ]; // Define which elements are shown in the inputbar
}

//@theme "/usr/share/rofi/themes/gruvbox-dark.rasi"

@theme "/home/jsph/.local/share/rofi/themes/rounded-gray-dark.rasi"
