/* Global */
* {
  font-family: "inter-font", "ttf-nerd-fonts-symbols";
  font-size: 16px;
  font-weight: bold;
  color: rgba(230, 230, 230, 1);
  background: transparent;
  padding: .1rem .2rem;
  border: none;
  border-radius: 8;
  box-shadow: none;
}

/* Module Containers */
#workspaces,
#clock.time,
#tray,
#tray menu,
#utils,
#battery,
tooltip {
  background: rgba(15, 15, 15, .9);
  padding: 0rem 1rem;
  margin: 0rem .5rem;
}

/* Icon Spacing */
#workspaces button,
#backlight,
#clock.date,
#pulseaudio {
  min-width: 1.6rem;
  padding: .1rem .2rem;
}

/* Misc */
#tray menuitem:hover,
#tray menuitem:active,
#workspaces button:hover {
  background: rgba(50, 50, 50, 1);
}

@keyframes blink {
  to {
    background-color: #ffffff;
    color: #f53c3c;
  }
}

#workspaces button.urgent,
#battery.critical:not(.charging) {
  background-color: #f53c3c;
  color: #ffffff;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: steps(12);
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
