* {
  font-family: "inter-font", "ttf-nerd-fonts-symbols";
  font-size: 15px;
  font-weight: bold;
  color: #dddddd;
}

window#waybar {
  background: rgba(3, 3, 3, .2);
}

button,
button:hover {
  background: inherit;
  border: none;
  border-radius: 0;
  box-shadow: none;
}

tooltip,
.modules-left,
.modules-center,
.modules-right {
  background: rgba(3, 3, 3, .8);
  padding: 0rem 1rem;
  margin: 0rem .5rem;
  border: 2px solid;
  border-radius: 6;
  border-color: #404040;
}

#workspaces,
#workspaces button,
#backlight,
#battery,
#network,
#pulseaudio {
  min-width: 1.6rem;
  padding: .1rem .2rem;
  border-radius: 4;
}

@keyframes blink {
  to {
    background-color: #ffffff;
    color: #f53c3c;
  }
}

#workspaces button.urgent,
#battery.critical:not(.charging) {
  background-color: #f53c3c;
  color: #ffffff;
  border-radius: 4;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: steps(12);
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
