* {
  font-family: "inter-font", "ttf-nerd-fonts-symbols";
  font-size: 16px;
  font-weight: bold;
  color: #dddddd;
}

window#waybar {
  background: transparent;
  min-height: 1.5rem;
}

tooltip,
#utils,
#battery,
.modules-center,
.modules-left {
  background: rgba(15, 15, 15, .9);
  /* background: rgba(3, 3, 100, .8); */
  padding: 0rem 1rem;
  margin: 0rem .5rem;
  border: 1px solid;
  border-radius: 10;
  border-color: rgba(0, 0, 0, .9);
}

button,
button:hover {
  background: inherit;
  border: none;
  border-radius: 0;
  box-shadow: none;
}

#clock,
#workspaces,
#workspaces button,
#backlight,
#network,
#pulseaudio {
  min-width: 1.6rem;
  padding: .1rem .2rem;
  border-radius: 4;
}

@keyframes blink {
  to {
    background-color: #ffffff;
    color: #f53c3c;
  }
}

#workspaces button.urgent,
#battery.critical:not(.charging) {
  background-color: #f53c3c;
  color: #ffffff;
  border-radius: 4;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: steps(12);
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
