* {
  font-family: "inter-font", "ttf-nerd-fonts-symbols";
  font-size: 15px;
  font-weight: bold;
  color: #dddddd;
}

window#waybar {
  background-color: transparent;
}

tooltip {
  background-color: transparent;
  border: 2px solid;
}

button {
  background: inherit;
  border: none;
  border-radius: 0;
}

.modules-left,
.modules-center,
.modules-right {
  background: rgba(3, 3, 3, .8);
  padding: 0px 15px;
  margin: 0px 5px;
  border: 2px solid;
  border-radius: 8;
  border-color: #404040;
}

#workspaces button {
  padding: 0 .3rem;
}

#workspaces,
#backlight,
#battery,
#network,
#pulseaudio {
  min-width: 1.8rem;
}

@keyframes blink {
  to {
    background-color: #ffffff;
    color: #f53c3c;
  }
}

#workspaces button.urgent,
#battery.critical:not(.charging) {
  background-color: #f53c3c;
  color: #ffffff;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: steps(12);
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
