[Unit]
Description=mykeymap keyboard kmonad
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/kmonad /home/jsph/.config/kmonad/mykeymap.kbd
Restart=always
User=root
Group=root

[Install]
WantedBy=multi-user.target
